       @font-face{font-family:'NovemberPro-Light';font-weight:normal;font-style:normal;font-display:swap;unicode-range:U+000-5FF;src:local('NovemberPro-Light'),url('fonts/NovemberPro-Light.woff') format('woff');}
      @font-face{font-family:'NovemberPro-Regular';font-weight:normal;font-style:normal;font-display:swap;unicode-range:U+000-5FF;src:local('NovemberPro-Regular'),url('fonts/NovemberPro-Regular.woff') format('woff');}
      @font-face{font-family:'NovemberPro-Medium';font-weight:normal;font-style:normal;font-display:swap;unicode-range:U+000-5FF;src:local('NovemberPro-Medium'),url('fonts/NovemberPro-Medium.woff') format('woff');}


.area_apps ul,
.letstalk a:hover,
.letstalk:hover,
.portfolio-item .portfolio-desc a:hover,
nav#filter a {
    text-decoration: none
}
.entry-content{
    margin-bottom:45px;
}
.portfolio_tab_head ul li a:hover{text-decoration:none;}
.crate ul li .fa.fa-angle-right,
.w_comm ul li .fa.fa-angle-right,
.ui_listinner ul li .fa.fa-angle-right,
.sho_dev ul li .fa.fa-angle-right,
.seo_c ul li .fa.fa-angle-right,
.process_cate2 ul li .fa.fa-angle-right,
.ssm_c ul li .fa.fa-angle-right,
.web_c ul li .fa.fa-angle-right
{
    display:none;
}
.crate:hover ul li::before,
.w_comm:hover ul li::before,
.ui_listinner:hover ul li::before,
.sho_dev:hover ul li::before
,.ssm_c:hover ul li::before
,.process_cate2:hover ul li::before
,.seo_c:hover ul li::before
,.web_c:hover ul li::before
{
    color:white;
}
.w_comm ul li,
.crate ul li,
.ui_listinner ul li,
.process_cate2 ul li,
.sho_dev ul li,
.ssm_c ul li,
.seo_c ul li,
.web_c ul li

{
    line-height: 1.9;
    list-style: none;
    position: relative;
}

.sho_dev  li::before ,
.crate  li::before ,
.ssm_c  li::before ,
.w_comm  li::before ,
.process_cate2  li::before ,
.seo_c  li::before ,
.ui_listinner  li::before ,
.web_c  li::before {
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    content: "■";
    font-family: "Arial orange";
    color: #53ae65;
    position: absolute;
    top: -2px;
}
.contact ul li,
.isotope-item,
footer ul li,
ol,
ul {
    list-style: none
}
.nav_footer h1
{
    margin-bottom:27px !important;
}
.headerheading{
    width:100%;
    text-align:center;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "NovemberPro-Light",sans-serif, "Open sans", Helvetica, Arial
}

p {
    font-size: 15px
}

.successmsg {
    margin: 5px 0;
    color: green!important
}

.errormsg {
    margin: 5px 0;
    color: red!important
}

.errormsg1,
.successmsg1 {
    margin: 10px 0 5px!important;
    text-align: right
}

.successmsg1 {
    color: green!important
}

.errormsg1 {
    color: red!important
}

.herotxt .btn-download,
.owl_txt {
    text-align: center
}

.fa-2 {
    font-size: 2em
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 15px
}

blockquote {
    font-style: italic;
    font-family: Georgia;
    color: #999;
    margin: 30px 0
}

 

label {
    color: #6f716d
}

.dd-inner ul li h3 a {
    color: #ccc
}

.herotxt_2 h3 {
    color: #5cadfd
}
.sjb-page .list-data .company-logo img
{
        height: 250px;
    border: 1px solid #e1e1e1;
    width: 100%;
}
.herotxt {
    background: #1981e2
}

.herotxt p {
    font-size: 20px;
    color: #fff
}

.herotxt span {
    color: #fff;
    font-size: 35px;
    font-weight: 400
}

.quote_t,
.sub_2 {
    font-weight: 100
}

.herotxt p {
    margin-bottom: 0
}

.herotxt .btn-download a {
    margin-top: 37px;
    text-align: center;
    display: inline-block;
    background: #fff;
    font-size: 18px;
    padding: 10px 25px;
    text-decoration: none;
    color: #222
}

.maincontent,
.sd_text p {
    text-align: left
}

.highlight {
    border-left: 1px solid rgba(255, 255, 255, .13)
}

.highlight:first-child {
    border: none
}

.t_dev,
.t_dev2 {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px
}
 

.navbar-header {
    height: 87px
} .footer3 p{
        margin:8px;
    }
.aboutusimage{
      height: 443px;
}
.aboutusimage img
{
    max-width: 100%;
  }
.btn:hover {
    color: #fff!important;
    background: #ee6810
}

.btn {
    color: #3A3A3A!important;
    background: #f4b905
}

.btn-action,
.btn-primary {
    color: #fff!important;
    background: #fb731a
}

.sub_b .btn:hover {
    color: #0061bb!important;
    background: #a2c9f0
}

.sub_b .btn {
    color: #0061bb!important;
    background: #b1d8ff
}

.t_dev,
.t_dev2,
.t_dev3 {
    background-color: #fff;
    color: #6f716d !important;
    line-height: 28px;
    position: absolute
}

.quote_1,
.testimonial {
    background-size: cover;
    background-repeat: no-repeat
}

.f_left {
    float: left
}

.f_right,
.sd_right {
    float: right
}

.sd_right {
    width: 50%
}

.sd_right img {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    height: auto
}

.icon-1 {
    margin: 52px 0 0 10px
}

.icon-2 {
    margin: -13px 0 0 360px;
    position: absolute
}

.icon-3 {
    margin: -20px 0 0 750px;
    position: absolute
}

.icon-4 {
    margin: 0 0 0 950px;
    position: absolute
}

.o_services {
    font-size: 24px
}

.container_right {
    width: 1170px;
    float: right
}

.container_left {
    width: 1170px;
    float: left
}

.clear {
    clear: both
}

.s_row {
    border-color: #6e716d !important;
    width: 20px;
    float: left
}
 

.s_dev {
    margin: 106px 0 0 100px;
    float: left
}

.s_dev2 {
    margin: 26px 88px 0 0;
    float: right
}

.s_dev3 {
    margin: 33px 0 0 66px;
    float: left
}

.i_dev {
    float: right;
    margin-top: 66px
}

.i_dev2 {
    float: left
}

.i_dev3 {
    float: right
}

.maincontent {
    padding-right: 0!important
}

.b_quote,
.cus_t,
.cus_t p,
.p_about,
.p_fact,
.quote_1,
.quote_t,
.testimonial {
    text-align: center
}

.maincontent2 {
    padding-left: 0!important
}

.t_dev {
    border-radius: 7px;
    border: 2px dashed #6f716d ;
    margin: 230px 0 0 160px;
    padding: 35px 43px 40px 70px
}

.t_dev2 {
    border-radius: 7px;
    border: 2px dashed #6f716d ;
    margin: 150px 0 0 592px;
    padding: 44px 170px 40px 50px
}

.t_dev3 {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 2px dashed #6f716d ;
    margin: 150px 0 0 160px;
    padding: 30px 148px 31px 57px
}

.ex_more,
.ex_more2,
.ex_more3 {
    background-color: #32c5d2;
    padding: 10px 20px;
    border: none;
    float: left
}

.b_quote,
.cus_t,
.ex_more,
.ex_more2,
.ex_more3,
.quote_t {
    color: #fff
}
.navbar-brand img{width:225px;}
.ex_more {
    margin: 250px 0 0 100px
}

.ex_more2 {
    margin: 295px 0 0 214px
}

.ex_more3 {
    margin: 245px 0 0 67px
}

.quote_1 {
    background-image: url(../../assets/images/img-4.jpg);
    height: 378px;
    width: 100%
}

.quote_t {
    font-size: 40px;
    padding-top: 122px;
    font-family: "NovemberPro-Light",sans-serif;
    letter-spacing: 2px
}

.cus_t,
.fact_a,
.fact_a2 {
    font-size: 22px
}
.abouttext{
    font-size: 30px;
    font-weight: 700; 
    margin-bottom:25px;
}

.a_jouple,
.fact_a,
.fact_a2 {
    letter-spacing: .5px
}

.b_quote {
    background-color: #ff6204;
    border: none;
    padding: 10px 20px;
    margin-top: 30px
}

.fact_a {
    padding-bottom: 40px
}


.cus_t {
    padding-top: 107px;
    margin-left: auto;
    margin-right: auto
}

.cus_t p {
    margin: 0 0 0 40px;
    line-height: 28px;
    float: left;
    color:black !important;
    font-size: 17px
}

.qut,
.qut2 {
    font-size: 85px;
    opacity: .4;
    font-style: italic
}

.qut2 {
    padding-top: 50px
}

.cus_logo {
    float: right;
    margin: 90px 0 0
}

.p_about {
    padding-top: 314px;
    margin-left: auto;
    margin-right: auto
}

.a_jouple {
    font-size: 22px;
    width: 60%;
    margin-left: 23%
}

.a_jouple p {
    text-align: left;
    color: #6e716d ;
    padding-top: 3%
}

.blue {
    color: #20ad65
}
.form--contact2 .options li .form__field--checkbox__label{
        font-size: 14px;
     padding-top: 11px !important;
}
.mail_s2 {
    background-color: transparent;
    border: thin solid #6e716d ;
    width: 250px;
    font-size: 16px;
    padding: 9px;
    color: #999
}

.mail_s {
    background-color: #edeaea;
    border: thin solid #b0abab;
    width: 377px;
    font-size: 14px;
    padding: 9px
}

.mes_btn,
.mes_btn2,
.sub_btn {
    border: none;
    background-color: #20ad65
}

.sub_us {
    font-size: 60px
}

.f_more,
.mail_c {
    font-size: 16px;
    color: #fff
}

.sub_btn {
    color: #fff;
    padding: 11px 18px 14px;
    margin-left: -5px
}

.ceo_t p,
.mail {
    padding-top: 30px
}

.find_m {
    text-align: right
}

.p_ser,
.p_ser2,
.sd_img {
    text-align: center
}

.mes_btn {
    color: #fff;
    padding: 12px 22px 10px;
    margin-left: 10px
}

.mes_btn2 {
    color: #fff;
    padding: 10px 22px;
    float: right
}

.mes_btn2:hover {
    background-color: #20ad65;
    color: #fff
}

.panel-title {
    text-transform: uppercase
}

.mail_c {
    background: 0 0;
    border: thin solid #3c3c3c;
    padding: 11px;
    width: 100%
}

.mail_c1,
.mail_c2 {
    background: 0 0;
    border: thin solid #ccc;
    font-size: 16px;
    padding: 11px;
    width: 100%;
    color: #999
}

.mail_c2 {
    height: 169px
}

#head-about,
.logo-brand {
    background-size: cover;
    background-repeat: no-repeat
}

.fact_a h1,
.fact_a2 h1 {
    font-size: 30px;
     font-weight: 700
}

.fact_a a,
.h_ser,
.h_ser a {
    color: #20ad65
}

.c_field {
    padding: 10px 0
}

.s_icon {
    margin-top: 10px
}

.p_ser2 {
    margin-bottom: 50px
}

.p_60 {
    padding: 60px 0
}

.sd_img {
    width: 30%;
    height: auto
}
.padding-bottom-50{
    padding-bottom:50px;
}
.l_talk,
.nav_footer {
    text-align: left
}
.aboutsection{
    padding-top:25px;text-align:center;
}
.fact_a a {
    text-decoration: underline
}

 

.fact_a2 p {
    line-height: 30px;
    padding: 20px 10px 0
}

.map_f,
.map_f1 {
    padding-left: 4px!important;
    padding-right: 7px!important
}

.fact_btext {
    color: #222;
    font-size: 18px
}

.nav_footer li {
    margin-bottom: 5px!important;
    font-size: 15px
}

.map_f {
    margin-top: 5px
}

.map_f1 {
    margin-top: 10px
}

.check,
.guid_p {
    width: 50%;
    float: left
}

.guid_list {
    counter-reset: my-badass-counter
}

.guid_list .guid_p:before {
    content: counter(my-badass-counter);
    counter-increment: my-badass-counter;
    position: absolute;
    left: 0;
    top: 6px;
    background-color: #20ad65;
    font-size: 24px;
    padding: 20px 25px;
    border-radius: 50%;
    color: #fff
}

.guid_list .check:before {
    counter-increment: my-badass-counter;
    position: absolute;
    left: 0;
    top: 6px;
    background-color: #5cb785;
    color: #fff;
    font-size: 24px;
    padding: 20px;
    border-radius: 50%;
    content: \f00c;
    font-family: FontAwesome;
    display: inline-block
}

.clients_o,
.form_inner,
.form_o {
    padding-bottom: 40px
}

#head,
#head .lead {
    font-family: "Open sans", Helvetica, Arial
}

.guid_list li {
    padding-left: 9%;
    position: relative;
    height: 128px
}

.text-box {
    float: left;
    width: 90%
}

.text-box h2 {
    font-size: 25px
}

.l_talk {
    background-color: #2e7cb4;
    height: 115px
}

.y_made {
    background-color: #3287c4;
    text-align: right;
    color: #fff;
    height: 115px
}

.clients_o,
.form__general2,
.form_o,
.wrap2 {
    background-color: #eee
}

.form_out2,
.logo-brand {
    text-align: center
}

.y_made p {
    padding-right: 50px;
    padding-top: 53px
}

.l_talk p {
    padding-left: 50px;
    font-size: 50px;
    color: #fff;
    float: left;
    padding-right: 20px
}

.l_talk .fa-envelope-o {
    font-size: 30px;
    color: #fff;
    padding-top: 28px
}

.form_o {
    margin-top: 60px
}

.form_out {
    width: 70%;
    margin-left: auto;
    margin-right: auto
}

.form__generalblue,
.form_inner,
.other_say,
.wrap_blue {
    background-color: #20ad65
}

.form_inner {
    margin-top: 150px
}

.form__generalblue h3,
.form__generalblue p {
    color: #fff!important
}

.em_blue,
.w_say h1 {
    color: #fff
}

.space_bottom {
    padding-bottom: 80px
}
 

.web_ul1,
.web_ul2 {
    width: 40%;
    float: left
}
  

.w_say h1 {
       font-size: 30px;
    font-weight: 700;
}

 

.p_work p,
.process_text {
    color: #6f716d ;
    font-size: 16px
}

#logo-1,
#logo-2,
#logo-3 {
    cursor: pointer
}

.p_work p {
    line-height: 26px
}

.process_cate {
    background-color: #eee;
    color: #6f716d;
    min-height: 200px
}

.process_cate:hover {
    background-color: #20ad65;
    color: #fff
}

.process_cate2 {
    background-color: #eee;
    color: #6f716d;
    min-height: 158px
}

.process_cate2:hover {
    background-color: #20ad65;
    color: #fff
}

.res_cate {
    background-color: #eee;
    color: #6f716d;
    min-height: 150px
}

.res_cate:hover {
    background-color: #20ad65;
    color: #fff
}

.m_cate {
    background-color: #eee;
    color: #6f716d;
    min-height: 240px
}

.m_cate:hover {
    background-color: #20ad65;
    color: #fff
}

.ui_list {
    font-size: 16px
}

.ui_listinner {
    background-color: #eee;
    color: #6f716d;
    min-height: 190px
}

.ui_listinner:hover {
    background-color: #20ad65;
    color: #fff
}

.ui_listinner:hover i {
    color: #fff
}

.ui_ser {
    background-color: #eee;
    color: #6f716d;
    min-height: 160px
}

.ui_ser:hover {
    background-color: #20ad65;
    color: #fff
}

.landing_d {
    background-color: #eee;
    color: #6f716d;
    min-height: 140px
}

.landing_d:hover {
    background-color: #20ad65;
    color: #fff
}

.landing_c {
    background-color: #eee;
    color: #6f716d;
    min-height: 160px;
    font-size: 16px
}

.landing_c:hover {
    background-color: #20ad65;
    color: #fff
}

.landing_c:hover i {
    color: #fff
}

.web_c {
    background-color: #eee;
    color: #6f716d;
    padding: 2%;
    border: solid #fff;
    min-height: 250px;
    font-size: 16px
}

.web_c:hover {
    background-color: #20ad65;
    color: #fff
}

.web_c:hover i {
    color: #fff
}

.web_ul2 {
    margin-left: 8%
}

.app_pro {
    background-color: #eee;
    color: #6f716d;
    min-height: 180px
}

.app_pro:hover {
    background-color: #20ad65;
    color: #fff
}

.sho_dev {
    background-color: #eee;
    color: #6f716d;
    min-height: 170px
}

.sho_dev:hover {
    background-color: #20ad65;
    color: #fff
}

.sho_dev:hover i {
    color: #fff
}

.sho_ul2 {
    float: left;
    margin-left: 7%
}

.sho_ul1 {
    float: left
}

.crate {
    background-color: #eee;
    color: #6f716d;
    min-height: 110px;
    font-size: 16px
}

.crate:hover {
    background-color: #20ad65;
    color: #fff
}

.crate:hover i {
    color: #fff
}

.crate ul {
    float: left
}

.crate2 {
    background-color: #eee;
    color: #6f716d;
    min-height: 200px;
    font-size: 16px
}

.crate2:hover {
    background-color: #20ad65;
    color: #fff
}

.crate2:hover i {
    color: #fff
}

.crate2 ul {
    float: left
}

.w_comm {
    background-color: #eee;
    color: #6f716d;
    min-height: 190px;
    font-size: 16px
}

.w_comm:hover {
    background-color: #20ad65;
    color: #fff
}

.w_comm:hover i {
    color: #fff
}

.big_c {
    background-color: #eee;
    color: #6f716d;
    min-height: 215px;
    font-size: 16px
}

#head,
#head-about,
.clients_say h1,
.clients_say p {
    text-align: center
}

.big_c:hover {
    background-color: #20ad65;
    color: #fff
}

.big_c:hover i {
    color: #fff
}

.seo_c {
    background-color: #eee;
    color: #6f716d;
    min-height: 160px
}

.seo_c:hover {
    background-color: #20ad65;
    color: #fff
}

.seo_c:hover i {
    color: #fff
}

.s_media {
    background-color: #eee;
    color: #6f716d
}

.s_media:hover {
    background-color: #20ad65;
    color: #fff
}

.s_media:hover i {
    color: #fff
}

.s_media ul li {
    display: inline;
    padding-left: 3%
}

.ssm_c {
    background-color: #eee;
    color: #6f716d;
    padding: 2%;
    border: solid #fff;
    min-height: 400px
}

#head,
.ssm_c:hover i {
    color: #fff
}

.ssm_c:hover {
    background-color: #20ad65;
    color: #fff
}

.f_left_ssm {
    float: left;
    margin-left: 9%
}

.pad_h {
    padding: 0 6px 6px 0
}

.follow-me-icons {
    font-size: 30px
}

.follow-me-icons i {
    float: left;
    margin: 0 20px 0 0;
    font-size: 25px
}

.clients_say {
    margin-top: 50px
}

.clients_say h1 {
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px
}

.clients_say p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #444;
    font-weight: 400;
    font-style: italic
}

.clients_say p span {
    color: ccc;
    font-weight: 500
}

#head {
    background: #181015;
    padding-top: 65px;
    font-weight: 300
}

.text-h h1,
.text-h p {
    color: #fff;
    font-weight: 100
}

#head img {
    vertical-align: middle
}

#head-about {
    background-image: url(../../assets/images/bg-about.jpg);
    height: 600px;
    width: 100%
}

.text-h {
    margin-top: 278px
}

.text-h h1 {
    font-size: 65px
}

.text-h p {
    font-size: 30px
}

.text-h2::after {
    background: #3287c4;
    top: 0;
    content: "";
    height: 4px;
    left: 50%;
    margin: 423px 0 0 -49px;
    position: absolute;
    width: 97px
}
.black{color:black;}

.head_t {
    margin-top: 28px
}

.head_t h1 {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 24px;
    color: #20ad65;
    padding-bottom: 14px;
}

#cover_text p,
.head_t p,
.w_j {
    font-weight: 100
}

.head_t p {
    font-size: 24px;
    color: #6e716d ;
    line-height: 30px
}

 

#head-cover1,
#head-cover10,
#head-cover11,
#head-cover12,
#head-cover13,
#head-cover14,
#head-cover15,
#head-cover16,
#head-cover17,
#head-cover18,
#head-cover19,
#head-cover2,
#head-cover20,
#head-cover21,
#head-cover22,
#head-cover23,
#head-cover24,
#head-cover25,
#head-cover26,
#head-cover27,
#head-cover28,
#head-cover29,
#head-cover3,
#head-cover30,
#head-cover31,
#head-cover32,
#head-cover33,
#head-cover4,
#head-cover5,
#head-cover6,
#head-cover7,
#head-cover8,
#head-cover9 {
    height: 436px;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat
}

#head-cover1 {
    background-image: url(../../assets/images/software-development.jpg)
}

#head-cover2 {
    background-image: url(../../assets/images/app-development.jpg)
}

#head-cover3 {
    background-image: url(../../assets/images/web-dev.jpg)
}

#head-cover4 {
    background-image: url(../../assets/images/responsive-design.jpg)
}

#head-cover5 {
    background-image: url(../../assets/images/ui-design.jpg)
}

#head-cover6 {
    background-image: url(../../assets/images/landing-page.jpg)
}

#head-cover7 {
    background-image: url(../../assets/images/web-maintain.jpg)
}

#head-cover8 {
    background-image: url(../../assets/images/ecommerce-banner.jpg)
}

#head-cover9 {
    background-image: url(../../assets/images/digital-marketing.jpg)
}

#head-cover10 {
    background-image: url(../../assets/images/seo-banner.jpg)
}

#head-cover11 {
    background-image: url(../../assets/images/social-media-banner.jpg)
}

#head-cover12 {
    background-image: url(../../assets/images/email-marketing.jpg)
}

#head-cover13 {
    background-image: url(../../assets/images/content-marketing.jpg)
}

#head-cover14 {
    background-image: url(../../assets/images/sem.jpg)
}

#head-cover15 {
    background-image: url(../../assets/images/analytics-conversion.jpg)
}

#head-cover16 {
    background-image: url(../../assets/images/enterprise-sol.jpg)
}

#head-cover17 {
    background-image: url(../../assets/images/enterprise-mobility.jpg)
}

#head-cover18 {
    background-image: url(../../assets/images/content-management.jpg)
}

#head-cover19 {
    background-image: url(../../assets/images/crm.jpg)
}

#head-cover20 {
    background-image: url(../../assets/images/cloud.jpg)
}

#head-cover21 {
    background-image: url(../../assets/images/big-data.jpg)
}

#head-cover22 {
    background-image: url(../../assets/images/bus-intelligence.jpg)
}

#head-cover23 {
    background-image: url(../../assets/images/services-banner.jpg)
}

#head-cover24 {
    background-image: url(../../assets/images/shopify.jpg)
}

#head-cover25 {
    background-image: url(../../assets/images/cratejoy.jpg)
}

#head-cover26 {
    background-image: url(../../assets/images/opencart.jpg)
}

#head-cover27 {
    background-image: url(../../assets/images/woocommerce.jpg)
}

#head-cover28 {
    background-image: url(../../assets/images/bigc.jpg)
}

#head-cover29 {
    background-image: url(../../assets/images/square-space.jpg)
}

#head-cover30 {
    background-image: url(../../assets/images/magento-banner.jpg)
}

#head-cover31 {
    background-image: url(../../assets/images/lightspeed.jpg)
}
.about_t{
    margin-bottom:45px
}
#head-cover32 {
    background-image: url(assets/images/contact-about.png);
        background-position: center !important;
}
.aboutsection h1{
     margin-bottom: 14px;
}
.aboutheading
{
    font-size: 2rem;
    font-weight: 700;
    padding-top: 47px;
     line-height: 45px;
     margin-bottom:8px;
     font-family:"NovemberPro-Regular",sans-serif !important;
}
#head-cover33 {
    background-image: url(assets/images/aboutus.png);
     width: 100% !important;
    background-size: unset !important;
}

#cover_heading h1 {
    font-size: 40px;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -o-animation: fadein 1s
}

.w_j {
    font-size: 60px!important;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -o-animation: fadein 1s
}

#cover_text p {
    margin-top: 2%;
    color: #fff;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 35px;
    text-align: center;
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -o-animation: fadein 1s
}

 .ceo_t p {
    line-height: 28px;
    letter-spacing: 1px
}

@keyframes fadein {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

 
 

.s_icon2 a .fa-linkedin {
    background-color: #3287c4;
    border-radius: 50%;
    padding: 10px 12px;
    font-size: 24px;
    color: #fff
}

.s_icon2 a:hover .fa-twitter {
    background-color: #81bfee;
    padding: 10px
}

.s_icon2 a:hover .fa-linkedin {
    background-color: #69a5d0;
    border-radius: 50%;
    padding: 10px 12px;
    font-size: 24px;
    color: #fff
}

.area_apps .name-company,
.logo-box .name-company {
    font-size: 30px;
    vertical-align: middle;
    position: relative
}

.ruby_main {
    margin-left: auto;
    margin-right: auto;
    background-color: #ccc;
    overflow: hidden;
    max-width: 1800px
}
.blogdetail img{
    width:100%;object-fit: cover;
    height: 400px;
    object-position: center;
}
.ruby_inner {
    margin-left: -160px;
    margin-right: -160px
}

.box_apps {
    background-color:#f8f8f8;
    padding: 5px 0 40px;
}

.area_apps ul {
    display: block;
    text-align: center
}

.area_apps li {
    display: block;
    width: 46%;
    float: left
}

.area_apps .name-company {
    padding: 14px 0 6px 10px
}

.logo-box .name-company {
    padding: 14px 0 54px 10px
}

.logo-box4 .name-company {
    padding: 14px 0 30px 10px
}

.logo-box_center {
    padding: 90px 0 118px;
    width: 100%
}

.center_b li {
    width: 100%
}

.logo-box5 {
    margin-top: -64px
}

.logo-box2 {
    margin-top: -10px
}

.logo_box-main {
    padding: 20px 0
}

.text-center {
    text-align: center
}

.text-center_sep {
    text-align: center;
    padding-top: 33px
}

#head.secondary {
    height: 100px;
    min-height: 100px;
    padding-top: 0
}

#head .lead {
    font-size: 44px;
    margin-bottom: 6px;
    color: #fff;
    line-height: 1.15em
}

#head .tagline {
    color: rgba(255, 255, 255, .75);
    margin-bottom: 25px
}

#head .tagline a {
    color: #fff
}

#head .btn {
    margin-bottom: 10px
}

#head .btn-default {
    text-shadow: none;
    color: rgba(255, 255, 255, .5);
    -webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .5);
    -moz-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .5);
    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .5);
    background: 0 0
}

#head .btn-default:focus,
#head .btn-default:hover {
    color: rgba(255, 255, 255, .8);
    -webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .8);
    -moz-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .8);
    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, .8);
    background: 0 0
}

#head .btn-default.active,
#head .btn-default:active {
    color: #fff;
    -webkit-box-shadow: inset 0 0 0 3px #fff;
    -moz-box-shadow: inset 0 0 0 3px #fff;
    box-shadow: inset 0 0 0 3px #fff;
    background: 0 0
}

.panel {
    margin-bottom: 0;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.panel-body {
    padding: 0
}

.section_made {
    overflow: hidden
}

.sectionBox2 {
    padding-top: 75px;
    padding-bottom: 70px
}

.slideUp {
    top: -100px
}

.headroom {
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

.serviceslist .btn {
    padding: 10px 38px;
    font-weight: 700;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.counter_outer {
    background-color: #031020;
    padding: 2px 0 25px
}

.counter_w h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 700;
    vertical-align: middle
}

.counter_w p {
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-weight: 100
}

.wpb_wrapper p {
    line-height: 20px;
    letter-spacing: 1px
}

.video_table {
    width: 100%;
    height: 500px
}

.highlight {
    margin-top: 40px
}

.h-caption {
    text-align: center;
 }

.h-caption i {
    display: block;
    font-size: 46px;
    color: #fff;
    float: left;
    margin-right: 9px
}

.h-caption h4 {
    color: #303030;
    font-size: 24px;
    font-weight: 400;
    height: 35px;
    padding-top: 20px
}

.counter_bg,
.counter_bg2 {
    /*background-image: url(../../assets/images/counter_bg.png);*/
    /*background-repeat: no-repeat;*/
    /*height: 184px;*/
    /*width: 184px;*/
    text-align: center;
    color: #000;
    font-weight: 700;
    font-size: 35px
}

 
 
.counter_out {
    margin-left: 5%
}

.counter_out2 {
    margin-left: 11%;
    margin-top: 35px
}

.jumbotron p {
    font-size: 17px;
    font-weight: 400;
    line-height: 22px
}

.f_p {
    padding-bottom: 8px
}

.jumbotron {
    background-color: #fff
}

.page-title {
    margin-top: 20px;
    font-weight: 300;
    color: #000
}

.text-muted {
    color: #6f716d
}

.bgColor1,
.bgColor1 .fa {
    color: #fff
}

.breadcrumb {
    background: 0 0;
    padding: 0;
    margin: 30px 0 0
}

.sidebar,
.sidebar_map {
    padding-bottom: 30px
}

ul.list-spaces li {
    margin-bottom: 10px
}

.bgColor1 {
    background-color: #323a47
}

.container-full {
    margin: 0 auto;
    width: 100%
}
#cover_text{visibility: hidden;
    padding: 7px;
    height: 2px;}
.top-space {
    margin-top: 35px
}

.top-margin {
    margin-top: 20px
}

img {
    max-width: 100%
}

img.pull-right {
    margin-left: 10px
}

img.pull-left {
    margin-right: 10px
}

#map {
    width: 100%;
    height: 280px
}

#social {
    margin-top: 50px;
    margin-bottom: 50px
}

#social .wrapper {
    width: 340px;
    margin: 0 auto
}

.sidebar {
    padding-top: 36px
}

.sidebar .panel {
    margin-bottom: 20px
}

.sidebar .h1,
.sidebar .h2,
.sidebar .h3,
.sidebar h1,
.sidebar h2,
.sidebar h3 {
    margin-top: 20px
}

.glyphicon-lg {
    font-size: 3em
}

.blockquote-box {
    margin-bottom: 25px;
    text-align: left
}

.blockquote-box .square {
    width: 96px;
    min-height: 50px;
    text-align: left;
    padding: 0 20px 35px 0
}

.b_sub,
.b_sub_blue,
.join_btn,
.ser_btn {
    padding: 13px 30px;
    font-weight: 700
}

.blockquote-box.blockquote-primary {
    border-color: #357EBD
}

.blockquote-box.blockquote-primary .square {
    color: #FFF
}

.blockquote-box.blockquote-success {
    border-color: #4CAE4C
}

.blockquote-box.blockquote-success .square {
    color: #FFF
}

.blockquote-box.blockquote-info {
    border-color: #46B8DA
}

.blockquote-box.blockquote-info .square {
    color: #FFF
}

.blockquote-box.blockquote-warning {
    border-color: #EEA236
}

.blockquote-box.blockquote-warning .square {
    background-color: #F0AD4E;
    color: #FFF
}

.blockquote-box.blockquote-danger {
    border-color: #D43F3A
}

.blockquote-box.blockquote-danger .square {
    background-color: #D9534F;
    color: #FFF
}

.ser_btn {
    background-color: transparent;
    border: thin solid #20ad;
    color: #fff;
    border-radius: 3px
}

.ser_btn:hover {
    background-color: #20ad;
    color: #fff
}

.join_btn {
    background-color: transparent;
    border: thin solid #5cb785;
    color: #5cb785;
    border-radius: 3px
}

.join_btn:hover {
    background-color: #5cb785;
    color: #fff
}

.b_sub {
    background-color: transparent;
    border: thin solid #20ad65;
    color: #20ad65;
    border-radius: 3px
}

.b_sub:hover {
    background-color: #20ad65;
    color: #fff
}

.b_sub_blue {
    background-color: transparent;
    border: thin solid #20ad;
    color: #fff;
    border-radius: 3px
}

.footer1 .entry-meta,
.footer1 .entry-meta .meta-in {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}

.b_sub_blue:hover {
    background-color: #20ad;
    color: #fff
}

.footer1 {
     padding: 30px 0 0;
    font-size: 12px;
    color: #999
}

.footer1 a {
    color: #ccc
}

.footer1 a:hover {
    color: #fff
}

.footer1 .panel {
    margin-bottom: 30px
}

.footer1 .panel-title {
    font-size: 17px;
    font-weight: 700;
    color: #ccc;
    margin: 0 0 20px
}

.footer1 .entry-meta {
    margin: 0 0 35px;
    padding: 2px 0;
    color: #6f716d;
    font-size: 12px;
    font-size: .75rem
}

.footer1 .entry-meta a {
    color: #333
}
 
.footer1 .entry-meta .meta-in {
    padding: 10px 0
}

.footer3 {
    padding: 8px 0
}

.footer2 {
    padding: 15px 0
}

.footer2 a {
    color: #aaa;
    padding: 0 10px;
    font-size: 13px
}

.footer1 p {
    font-size: 14px;
    color: #6e716d 
}

.footer2 a:hover {
    color: #fff
}

.footer2 p {
    margin: 0;
    color: #6e716d ;
    font-size: 13px
}

.panel-simplenav {
    margin-left: -5px
}

.panel-simplenav a {
    margin: 0 5px
}

#quote-carousel {
    padding: 0 10px 30px;
    margin-top: 30px 0 0
}

#quote-carousel .carousel-control {
    background: 0 0;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px
}

#quote-carousel .carousel-control.left {
    left: -12px
}

#quote-carousel .carousel-control.right {
    right: -12px!important
}

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0;
    margin-right: -19px
}

#quote-carousel .carousel-indicators li {
    background: silver
}

.item p {
    font-size: 16px
}

#quote-carousel .carousel-indicators .active {
    background: #333
}

#quote-carousel img {
    width: 250px;
    height: 100px
}

#portfolio img,
.portfolio-items article img {
    width: 100%
}

.item blockquote {
    border-left: none;
    margin: 0
}

.contact ul li,
.item blockquote img {
    margin-bottom: 10px
}

.item blockquote p:before {
    content: "\f10d";
    font-family: Fontawesome;
    float: left;
    margin-right: 10px
}

.contact {
    text-align: center
}

.contact ul {
    padding: 0
}

.contact ul li {
    line-height: 17px
}

#map-canvas {
    height: 100%;
    margin: 0;
    padding: 0
}

.isotopeWrapper article {
    margin-bottom: 30px
}

#portfolio article p {
    margin-bottom: 1.45em
}

nav#filter {
    margin-bottom: 1.5em
}

nav#filter li {
    display: inline-block;
    margin: 0 0 0 5px
}

nav#filter a {
    padding: 4px 12px;
    line-height: 20px;
    border: 1px solid #fb731a;
    color: #fb731a
}

nav#filter a.current {
    background: #fb731a;
    color: #fff
}

.iconColor .fa {
    color: #ee0c45
}

.portfolio-item {
    display: block;
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.portfolio-item img {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear
}

.portfolio-item .portfolio-desc {
    display: block;
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    color: rgba(220, 220, 220)
}

.fancybox-overlay {
    background: rgba(0, 0, 0, .64)
}

.portfolio-item:hover .portfolio-desc {
    padding-top: 20%;
    height: 100%;
    transition: all .2s ease-in-out 0;
    opacity: 1;
    background: rgba(0, 0, 0, .72)
}

.isotope-item {
    margin-bottom: 25px;
    display: inline-block
}

.portfolio-item .portfolio-desc a {
    color: #fff;
    text-align: center;
    display: block
}

.portfolio-item .portfolio-desc .folio-info {
    top: -20px;
    padding: 30px;
    height: 0;
    opacity: 0;
    position: relative
}

.portfolio-item:hover .folio-info {
    height: 100%;
    opacity: 1;
    transition: all .5s ease-in-out 0;
    top: 5px
}

.portfolio-item .portfolio-desc .folio-info h5 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.4em
}

.portfolio-item .portfolio-desc .folio-info p {
    color: #fff;
    font-size: 12px
}

.contact-details {
    padding: 20px;
    background: #fff;
    border: none;
    position: relative
}

.error {
    border: 1px solid red!important
}

.letstalk {
    background: #fff;
    color: #444;
    border: 2px solid #fff;
    padding: 10px 25px;
    border-radius: 5px
}

.letstalk:hover {
    background-color: #20ad65;
    border: 2px solid #20ad65;
    color: #fff
}
.portfolio-text
{
	margin: 0 0 0px 0; color: #ffffff; font-size:150px; opacity:0.5;
}
@media (max-width:3000px) {
    .about_jouple {
        background-image: url(../../assets/images/about-bg.png);
        background-repeat: no-repeat;
        background-size: 3000px auto;
        margin-top: -230px
    }
    .p_about {
        padding-top: 575px;
        padding-bottom: 200px
    }
}

@media (max-width:2200px) {
    .about_jouple {
        background-image: url(../../assets/images/about-bg.png);
        background-repeat: no-repeat;
        background-size: 2200px auto;
        margin-top: -180px
    }
    .p_about {
        padding-top: 450px;
        padding-bottom: 200px
    }
}

@media (max-width:1900px) {
    .about_jouple {
        background-image: url(../../assets/images/about-bg.png);
        background-repeat: no-repeat;
        background-size: 1900px auto;
        margin-top: -114px
    }
    .p_about {
        padding-top: 390px;
        padding-bottom: 200px
    }
}

@media (max-width:1600px) {
    .about_jouple {
        background-image: url(../../assets/images/about-bg.png);
        background-repeat: no-repeat;
        background-size: 1600px auto;
        margin-top: -114px
    }
    .p_about {
        padding-top: 350px;
        padding-bottom: 200px
    }
}

@media (max-width:1400px) {
    .about_jouple {
        background-image: url(../../assets/images/about-bg.png);
        background-repeat: no-repeat;
        background-size: 1400px auto;
        margin-top: -114px
    }
    .p_about {
        padding-top: 277px;
        padding-bottom: 200px
    }
}

@media (max-width:1366px) {
    .about_jouple {
        background-image: url(../../assets/images/about-bg.png);
        background-repeat: no-repeat;
        background-size: 1366px auto;
        margin-top: -114px
    }
    .p_about {
        padding-top: 277px;
        padding-bottom: 200px
    }
}

@media (max-width:1280px) {
    .about_jouple {
        margin-top: -95px;
        background-image: url(../../assets/images/about-bg.png);
        background-repeat: no-repeat;
        background-size: 1280px auto
    }
}

@media (max-width:1100px) {
    .container_left,
    .container_right {
        width: 1010px
    }
    .i_dev,
    .i_dev2,
    .i_dev3 {
        width: 590px
    }
    .i_dev {
        margin-top: 13px
    }
    .s_dev {
        margin: 16px 0 0 100px
    }
    .s_dev2 {
        margin: 13px 290px 0 0
    }
    .s_dev3 {
        margin: 20px 0 0 160px
    }
    .t_dev {
        margin: 126px 0 0 155px
    }
    .t_dev2 {
        margin: 125px 0 0 450px
    }
    .t_dev3 {
        margin: 130px 0 0 192px
    }
    .ex_more {
        margin: 225px 0 0 100px
    }
    .ex_more2 {
        margin: 234px 0 0 190px
    }
    .ex_more3 {
        margin: 220px 0 0 138px
    }
    .icon-4 {
        margin: -28px 0 0 900px
    }
    .cus_t p {
        margin: 23px 0 0
    }
    .testimonial {
        height: 353px
    }
    .cus_logo {
        margin: 120px 0 0;
        width: 120px
    }
    .about_jouple {
        background-image: url(../../assets/images/about-bg.png);
        background-repeat: no-repeat;
        background-size: 1100px auto;
        margin-top: -114px
    }
    .p_about {
        padding-top: 220px
    }
    .a_jouple {
        font-size: 22px;
        width: 56%
    }
    .a_jouple p {
        font-size: 13px
    }
}

@media (max-width:980px) {
    .container_left,
    .container_right {
        width: 850px
    }
    .s_dev {
        margin: 7px 0 0 30px
    }
    .s_dev2 {
        margin: 13px 370px 0 0
    }
    .s_dev3 {
        margin: 10px 0 0 50px
    }
    .t_dev {
        margin: 115px 0 0 50px
    }
    .t_dev2 {
        margin: 114px 0 0 370px
    }
    .t_dev3 {
        margin: 110px 0 0 60px
    }
    .ex_more {
        margin: 225px 0 0
    }
    .ex_more2 {
        margin: 224px 0 0 130px
    }
    .ex_more3 {
        margin: 210px 0 0 10px
    }
    .cus_logo {
        margin: 152px 95px 0 0;
        width: 80px
    }
    .about_jouple {
        background-image: url(../../assets/images/about-bg.png);
        background-repeat: no-repeat;
        background-size: 980px auto;
        margin-top: -114px
    }
    .p_about {
        padding-top: 180px
    }
    .a_jouple p {
        padding-top: 0
    }
    .a_jouple {
        font-size: 22px;
        width: 51%
    }
}

@media (min-width:900px) {
    .i_dev_s,
    .i_dev_s2,
    .i_dev_s3 {
        display: none
    }
}

@media (max-width:950px) {
    .a_jouple {
        width: 70%
    }
}

@media (max-width:800px) {
    .i_dev2,
    .i_dev_s,
    .i_dev_s3 {
        float: none;
        width: 590px
    }
    .container_left,
    .container_right {
        width: 750px
    }
    .i_dev,
    .i_dev2,
    .i_dev3 {
        display: none
    }
    .i_dev_s {
        margin-top: 13px
    }
    .i_dev_s2 {
        width: 590px;
        margin-left: 60px
    }
    .s_dev2 {
        margin: 76px 544px 0 0
    }
    .s_dev3 {
        margin: 72px 0 0 16px
    }
    .t_dev {
        margin: 23px 0 0
    }
    .t_dev2 {
        margin: 30px 0 0 59px
    }
    .t_dev3 {
        margin: 38px 0 0
    }
    .ex_more {
        margin: 183px 147px 0 0;
        float: right
    }
    .ex_more2 {
        margin: 199px 69px 0 0;
        float: right
    }
    .ex_more3 {
        margin: 154px 143px 0 0;
        float: right
    }
    .cus_t p {
        margin: 0
    }
    .cus_logo {
        margin: 110px 24px 0 0;
        width: 80px
    }
    .cus_t {
        padding-top: 120px
    }
    .testimonial {
        height: 350px
    }
    .about_jouple {
        background-image: none;
        background-repeat: no-repeat
    }
    .p_about {
        padding: 25% 8% 0
    }
    .a_jouple {
        font-size: 22px;
        width: 100%;
        margin-left: 0;
        line-height: 20px
    }
    #head {
        padding-top: 150px
    }
}

@media (max-width:767px) {
    .l_talk,
    .nav_footer ul,
    .y_made {
        text-align: center
    }
    .form_out {
        width: 100%
    }
    .cus_logo {
        margin: 152px 95px 0 0;
        width: 0;
        display: none
    }
    .l_talk p {
        margin-left: 28%
    }
    .l_talk .fa-envelope-o {
        float: left
    }
    .counter_out {
        margin-left: 34%
    }
     
    #head {
        padding-top: 68px
    }
    #head .lead {
        font-size: 34px
    }
    .navbar-collapse {
        background: rgba(0, 0, 0, .8)
    }
    .s_icon2 {
        margin: 4% 0 0;
        padding-bottom: 4%
    }
    .ceo_img {
        margin-top: 0
    }
    .hide_767 {
        display: none!important
    }
    .sub_btn {
        padding: 15px 18px
    }
}

@media (min-width:768px) {
    #quote-carousel {
        margin-bottom: 0;
        padding: 0 40px 30px;
        margin-top: 30px
    }
}

@media (max-width:767px) {
    .sd_right {
        float: none;
        width: 100%
    }
    .sd_right img {
        padding-left: 0;
        padding-right: 0;
        width: 80%;
        height: auto
    }
    .navbar-collapse ul {
        text-align: right;
        margin-right: 0
    }
    .guid_list li {
        padding-left: 10%
    }
    .footer1 .panel {
        text-align: center
    }
}

@media (max-width:768px) {
    #quote-carousel .carousel-indicators {
        bottom: -20px!important
    }
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        border-color: #101010;
        overflow: hidden
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #fff
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0 5px;
        width: 15px;
        height: 15px
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0 5px;
        width: 20px;
        height: 20px
    }
    .f_map {
        display: none
    }
}

.letstalk a {
    background-color: #20ad65;
    padding: 8px 35px;
    color: #fff!important;
    border-radius: 6px;
    font-size: 1em
}

.letstalk a:hover {
    background-color: #0a904c !important;
    color: #fff !important
}

@media (max-width:640px) {
    .find_m,
    .footer1 .panel,
    .s_icon {
        text-align: center
    }
    .check,
    .guid_p {
        width: 100%;
        float: left
    }
    .guid_list li {
        padding-left: 18%
    }
 
    .container_left,
    .container_right {
        width: 630px
    }
    .i_dev_s2 {
        width: 590px;
        margin-left: 24px
    }
    .s_dev2 {
        margin: 76px 472px 0 0
    }
    .t_dev2 {
        margin: 30px 0 0 23px;
        padding: 44px 150px 40px 50px
    }
    .ex_more {
        margin: 183px 26px 0 0
    }
    .ex_more2 {
        margin: 199px 0 0;
        float: right
    }
    .ex_more3 {
        margin: 183px 25px 0 0;
        float: right
    }
    .simplenav {
        display: none
    }
    .p_about {
        width: 100%
    }
    #cover_heading h1 {
        margin-top: 33%
    }
    .an_h {
        font-size: 27px!important;
        line-height: 38px!important
    }
    .testimonial {
        height: 300px
    }
    .nav_footer li {
        background-color: #222;
        text-align: left;
        padding: 5px 0 5px 10px
    }
    #head-cover1,
    #head-cover10,
    #head-cover11,
    #head-cover12,
    #head-cover13,
    #head-cover14,
    #head-cover15,
    #head-cover16,
    #head-cover17,
    #head-cover18,
    #head-cover19,
    #head-cover2,
    #head-cover20,
    #head-cover21,
    #head-cover22,
    #head-cover23,
    #head-cover24,
    #head-cover25,
    #head-cover26,
    #head-cover27,
    #head-cover28,
    #head-cover29,
    #head-cover3,
    #head-cover30,
    #head-cover31,
    #head-cover32,
    #head-cover33,
    #head-cover4,
    #head-cover5,
    #head-cover6,
    #head-cover7,
    #head-cover8,
    #head-cover9 {
        background-position: 30% -60px
    }
}

@media (max-width:480px) {
    .i_dev_s,
    .i_dev_s3 {
        float: none;
        width: 400px
    }
    .portfolio-text
{
	font-size:4em;
}
    .testimonial {
        height: 245px
    }
    .container_left,
    .container_right {
        width: 470px
    }
    .fact_a p {
        padding: 0
    }
    .h_ser a {
        font-size: 1.4rem
    }
    .i_dev_s {
        margin-top: 13px
    }
    .i_dev_s2 {
        width: 400px;
        margin-left: 24px
    }
    .s_dev2 {
        margin: 76px 313px 0 0
    }
    .ex_more {
        margin: 243px 195px 0 0
    }
    .ex_more2 {
        margin: 260px 144px 0 0;
        float: right
    }
    .ex_more3 {
        margin: 243px 177px 0 0;
        float: right
    }
    .cus_t {
        padding-top: 62px
    }
    .cus_t p {
        margin: 0 0 0 -22px;
        font-size: 31px;
        line-height: 46px
    }
    .a_jouple {
        font-size: 22px;
        width: 100%;
        margin-left: 0
    }
    .sub_us {
        font-size: 30px
    }
    .mail_s {
        width: 230px
    }
    .follow-me-icons i {
        font-size: 27px;
        margin: 5px 0 30px;
        float: none
    }
    .ruby_inner {
        margin-left: -50px;
        margin-right: -50px
    }
    .w_say h1 {
        font-size: 20px;
        text-align: center;
        padding-bottom: 20px
    }
    .ceo_t p  {
        font-size: 14px;
        text-align: center
    }
    .ceo_t p {
        line-height: 19px;
        padding-top: 15px
    }
    .about_t p {
        line-height: 19px;
        padding: 0
    }
    .about_t {
        text-align: center
    }
    .text-box h2 {
        font-size: 20px
    }
    .fact_a h1 {
        font-size: 22px
    }
    .l_talk p {
        font-size: 26px;
        padding-top: 28px;
        margin-left: 20%
    }
    .y_made p {
        padding-top: 31px;
        padding-right: 26px
    }
    .l_talk .fa-envelope-o {
        font-size: 20px;
        padding-top: 18px
    }
    .l_talk,
    .y_made {
        height: 70px
    }
    .area_apps .name-company {
        font-size: 15px
    }
    .p_about {
        padding: 40% 8% 0
    }
    .counter_out,
    .counter_out2 {
        margin-left: 29%;
        margin-top: -8%
    }
    .counter_bg,
    .counter_bg2 {
        background-size: 80%;
        font-size: 35px;
        padding-top: 25%
    }
    .b_sub,
    .b_sub_blue {
        background-color: transparent;
        padding: 7px 6px;
        font-weight: 400
    }
    .counter_bg div,
    .counter_bg2 div {
        margin-right: 30px
    }
    .h-caption h4 {
        margin: -20% 0 10% -20%
    }
    .qut,
    .qut2 {
        display: none
    }
    .b_sub {
        border: thin solid #20ad65;
        color: #20ad65;
        border-radius: 3px
    }
    .b_sub_blue {
        border: thin solid #20ad;
        color: #fff;
        border-radius: 3px
    }
    .blockquote-box {
        text-align: center
    }
    .square img {
        height: 40px;
        width: 40px
    }
    .blockquote-box .square {
        text-align: center;
        padding: 0;
        width: 0
    }
   
    .text-h h1 {
        font-size: 40px;
        padding-bottom: 15px
    }
    .fact_a {
        line-height: 33px
    }
    .logo-box2 {
        margin-top: 9px
    }
    .text-box p {
        text-align: left
    }
    .ceo_say h1,
    .serv_b {
        text-align: center
    }
    #cover_text p {
        font-size: 20px;
        line-height: 27px
    }
    .form_inner {
        margin-top: 40px
    }
    .portfolio_head h2 {
        font-size: 27px
    }
    .head_t p {
        line-height: 25px;
        font-size: 18px
    }
    .head_t h1 {
        font-size: 23px
    }
    .h-caption {
        margin-bottom: 50px
    }
    .footer2 {
        background: #000;
        padding: 0;
        height: auto
    }
    .footer2 a {
        color: #aaa;
        padding: 0 10px;
        font-size: 13px
    }
    .sd_p {
        margin-top: -25%
    }
    .logo-box5 {
        margin-top: -52px
    }
}

@media (max-width:414px) {
    .testimonial {
        height: 210px
    }
    .counter_out,
    .counter_out2 {
        margin-left: 23%;
        margin-top: 6%
    }
    .counter_bg,
    .counter_bg2 {
        background-size: 80%;
        font-size: 35px;
        padding-top: 25%
    }
    .counter_bg div,
    .counter_bg2 div {
        margin-right: 30px
    }
    .h-caption h4 {
        margin: -20% 0 10% -20%
    }
    #cover_heading h1 {
        margin-top: 30%;
        line-height: 36px;
        font-size: 25px
    }
    .w_j {
        font-size: 40px!important;
        margin-top: 55%!important
    }
    .guid_list .guid_p::before {
        padding: 11px 17px;
        top: 12px
    }
    .guid_list .check::before {
        padding: 12px
    }
    .web_ul1,
    .web_ul2 {
        float: none;
        margin-left: 0;
        width: 100%
    }
    .clients_say h1 {
        font-size: 18px;
        padding-bottom: 0
    }
    .s_media ul li {
        padding-left: 8%;
        display: block;
        float: left;
        width: 50%
    }
}

@media (max-width:375px) {
    .mes_btn {
        margin-top: 6px
    }
    .testimonial {
        height: 195px
    }
}

@media (max-width:360px) {
    .counter_out {
        margin-left: 17%
    }
}

@media (max-width:320px) {
    .i_dev2,
    .i_dev_s,
    .i_dev_s3 {
        float: none
    }
    .cus_logo,
    .grid,
    .i_dev,
    .i_dev2,
    .i_dev3,
    .simplenav {
        display: none
    }
    .guid_list li {
        height: 155px;
        padding-left: 27%
    }
    .fact_a h1 {
        font-size: 17px
    }
    .logo-box5 {
        margin-top: 48px
    }
    .area_apps li {
        width: 100%
    }
    .logo-box2 {
        margin-top: 70px
    }
    .logo-box_center {
        padding: 90px 0 66px
    }
    .text-h h1 {
        font-size: 36px;
        padding-bottom: 17px
    }
    .clients_say h1 {
        font-size: 16px;
        padding-bottom: 0
    }
    .h_ser a {
        font-size: 1.2rem
    }
    .s_icon {
        margin-top: 0
    }
    .follow-me-icons a i {
        font-size: 26px;
        padding: 0 8px
    }
    .mes_btn {
        margin-top: 10px
    }
    .fact_a2 p {
        padding: 0
    }
    #cover_heading h1 {
        font-size: 26px;
        margin-top: 50%
    }
    #cover_text p {
        font-size: 18px;
        line-height: 24px
    }
    .container_left,
    .container_right {
        width: 310px
    }
    .i_dev_s {
        width: 274px;
        margin-top: 13px
    }
    .i_dev_s2 {
        width: 274px;
        margin-left: 24px
    }
    .i_dev_s3 {
        width: 274px
    }
    .i_dev2,
    .i_dev3 {
        width: 590px
    }
    .s_dev {
        margin: 7px 0 0 30px
    }
    .s_dev2 {
        margin: 50px 148px 0 0
    }
    .s_dev3 {
        margin: 50px 0 0 18px
    }
    .t_dev {
        margin: 23px 22px 0 0;
        padding: 10px 0 12px 15px
    }
    .t_dev2 {
        margin: 25px 0 0 26px;
        padding: 16px 42px 14px 20px
    }
    .t_dev3 {
        margin: 38px 0 0;
        padding: 14px 56px 6px 15px
    }
    .ex_more {
        margin: 220px 90px 0 0
    }
    .ex_more2 {
        margin: 210px 72px 0 0;
        float: right
    }
    .ex_more3 {
        margin: 208px 99px 0 0;
        float: right
    }
    .quote_t {
        font-size: 27px;
        padding-top: 104px
    }
    .fact_a {
        font-size: 18px;
        line-height: 23px
    }
    .icon-4 {
        margin: -28px 0 0 900px
    }
    .cus_t p {
        margin: -55px 0 0 -47px;
        font-size: 42px;
        line-height: 45px
    }
    .testimonial {
        height: 170px
    }
    .cus_logo {
        margin: 152px 95px 0 0;
        width: 0
    }
    .about_jouple {
        background-image: none;
        background-repeat: no-repeat;
        background-size: 980px auto;
        margin-top: 0
    }
    .p_about {
        padding-top: 60px;
        padding-bottom: 0
    }
    .a_jouple {
        font-size: 22px;
        width: 100%;
        margin-left: 0
    }
    .a_jouple p {
        font-size: 13px
    }
    #head {
        padding-top: 150px;
        min-height: 189px!important
    }
    .sub_us {
        font-size: 30px
    }
    .mail_s {
        width: 264px;
        font-size: 13px;
        margin-bottom: 15px
    }
    .sub_btn {
        padding: 11px 22px
    }
    .footer2 a {
        padding: 0
    }
    .s_icon {
        margin-bottom: 10px
    }
    .follow-me-icons i {
        font-size: 19px!important;
        margin: 5px 0 0!important;
        float: none!important
    }
    .grid2 {
        padding-top: 20px
    }
    .l_talk p {
        font-size: 26px;
        padding-top: 28px
    }
    .y_made p {
        padding-top: 31px;
        padding-right: 26px
    }
    .l_talk .fa-envelope-o {
        font-size: 20px;
        padding-top: 18px
    }
    .l_talk,
    .y_made {
        height: 70px
    }
    .form_out {
        width: 90%
    }
    .h-caption h4 {
        font-size: 18px;
        padding-top: 6px
    }
   
    .fact_a p {
        padding: 0
    }
    .counter_out,
    .counter_out2 {
        margin-left: 15%;
        margin-top: -7%
    }
    .counter_bg,
    .counter_bg2 {
        background-size: 80%;
        font-size: 35px;
        padding-top: 25%
    }
    .counter_bg div,
    .counter_bg2 div {
        margin-right: 30px
    }
    .h-caption h4 {
        margin: -20% 0 10% -20%
    }
}

@media (min-width:321px) {
    .grid2 {
        display: none
    }
}